@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@font-face {
  font-family: 'Hamishe';
  src: url('/fonts/Hamishe/Hamishe.otf') format('opentype');
  /* Add other formats if available */
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top: 4px solid #000;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.Hamishe {
  font-family: 'Hamishe', serif;
}

.rtl-text {
  direction: rtl; /* Right-to-left text direction */
  text-align: right; /* Align text to the right side of the container */
}

@media (min-width: 375px) and (max-width: 430px) {
  .B14-SE1 {
    padding-left: 52px;
  }
  .B14-SE2 {
    padding-left: 32px;
  }
  .logoSsize {
    width: 35px;
    padding-right: 5px;
  }
  .absluteEnmonth {
    right: 19px; /* Added 'px' */
    bottom: 12px; /* Added 'px' */
  }
}

@media (min-width: 571px) and (max-width: 852px) {
  .customsizefologosite.customsizefologosite {
    width: 50px;
  }
}

@media (min-width: 640px) {
  .customsizefologosite {
    max-width: 250px;
  }
}

@media (min-width: 1024px) {
  .customsizefologosite {
    max-width: 350px;
  }
}

@media (min-width: 375px) and (max-width: 413px) {
  .grid.gC2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

body {
  /* background: #1cd2d5; */
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    transparent,
    rgb(var(--background-end-rgb))
  )
  rgb(var(--background-start-rgb)); */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
